@import url("https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css");

button.neumorphic {
  container-type: inline-size;
  aspect-ratio: 1/1;
  border: 0.5rem solid transparent;
  border-radius: 1rem;
  color: hsl(0 0% 10%);
  background: none;
  cursor: pointer;
  display: grid;
  place-content: center;
  gap: 1rem;

  --shadow: -0.5rem -0.5rem 1rem hsl(0 0% 100% / 0.75),
    0.5rem 0.5rem 1rem hsl(0 0% 50% / 0.5);
  box-shadow: var(--shadow);
  outline: none;
  transition: all 0.3s;

  &:hover,
  &:focus-visible {
    color: hsl(10 80% 50%);
    scale: 1.1;
  }
  &:active,
  &.active {
    box-shadow: var(--shadow), inset 0.5rem 0.5rem 1rem hsl(0 0% 50% / 0.5),
      inset -0.5rem -0.5rem 1rem hsl(0 0% 100% / 0.75);
    color: hsl(10 80% 50%);
    > i {
      font-size: 18cqi;
    }
    > span {
      font-size: 13cqi;
    }
  }

  > i {
    font-size: 31cqi;
  }
  > span {
    font-family: system-ui, sans-serif;
    font-size: 16cqi;
  }
  transform: scale(0.7);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(6rem, 100%), 1fr));
  gap: 0rem;
  margin-top: 30px;
}

/* .buttons > button {
  background-color: white;
} */
